name: Pro-Tier CI-CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
          
      - name: Build & Publish
        # We use the project name here to be precise
        run: dotnet publish CICDTutorialTest.csproj -c Release -o ./myapp

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-app-files
          path: ./myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: web-app-files
          path: ./myapp

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'api-test-demo' # <--- TYPE AZURE NAME HERE
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./myapp
